* { 
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 20px; 
    background-color: #fdf5e6; 
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background:white;
}

header { 
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(255, 216, 143); 
}

header img { 
    height: 55px; 
    margin-right: 20px; 
}

.header-text h1 { 
    color: orange;
    margin: 0; 
    font-size: 2em; 
    text-shadow: 2px 2px #333333;
}

.header-text h3 { 
    margin: 0; 
    font-style: italic; 
}

.main-content {
    display: flex;
    border-bottom: 3px solid rgb(255, 216, 143);
}

main {
    flex: 2; 
    padding: 20px;
}

.sidebar {
    flex: 1; 
    padding: 20px;
}

.lecture-box {
    background-color: #fff3e0;
    padding: 15px;
    border: 1px solid #ffe0b2;
}

.red-color-text { 
    font-weight: bold;
    color: #800000; 
}

.gray-color-text { 
    font-weight: bold;
    color: gray; 
}

.yellow-color-text { 
    font-weight: bold;
    color: rgb(227, 207, 25); 
}

footer {
    padding: 10px;
    text-align: right;
    font-size: 0.9em;
}